<!DOCTYPE html>
{% autoescape true %}
<html lang="en" ng-app="spooncowApp" ng-controller="DocsCtrl">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock meta %}
    <title>{% block title %}{{ header_title }}{% endblock title %}</title>
    {% block head %}
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/admin/default/css/default-theme.css" rel="stylesheet">

    {% endblock head %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site_name }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/settings">Settings</a></li>
        <li><a href="/admin/profile">Profile</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

    {% raw %}
    Nothing here {{'yet' + '!'}}
{% endraw %}
{% endblock nav %}
<div class="container-fluid">
      <div class="row">
          {% block body %}{% endblock body %}
      </div>
</div>
    {% block footerjs %}
    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>
    <script src="/static/admin/default/js/app.js"></script>
    {% endblock footerjs %}
    {% block footer %}{% endblock footer %}
</body>
</html>
{% endautoescape %}